# XIAO onboard CMSIS-DAP debugger, with direct nRF54L RRAM loading.
source [find interface/cmsis-dap.cfg]
transport select swd
adapter speed 100

swd newdap nrf54l cpu -expected-id 0x6ba02477
dap create nrf54l.dap -chain-position nrf54l.cpu
target create nrf54l.cpu cortex_m -dap nrf54l.dap -ap-num 0
nrf54l.cpu configure -work-area-phys 0x20000000 -work-area-size 0x4000 -work-area-backup 0
target create nrf54l.aux mem_ap -dap nrf54l.dap -ap-num 1
nrf54l.dap apsel 1
nrf54l.dap apcsw 0x01000000 0x01000000
targets nrf54l.cpu
nrf54l.cpu cortex_m reset_config sysresetreq

proc nrf54l-load {file} {
    mww 0x5004b500 0x101
    load_image $file
}
